/*YOU SUCK. YES YOU!!!*/
.container {
    min-height: 100%;
    text-align: center;
    color: papayawhip;
}

.form {
    background-color: lightblue;
    text-align: left;
    padding: 10px;
    background: rgba(60, 60, 60, 0.4);
    color: papayawhip;
}

body {
    background-image: url("../img/sunset2.jpg");
    background-repeat: no-repeat;
    background-color: rebeccapurple;
    background-size: 100% 100%;

}

.main-display {
    background-color: lightblue;
    text-align: center;
    padding: 25px 50px;
    background: rgba(60, 60, 60, 0.4);
    color: papayawhip;
}

.custom-btn {
    margin-top: 10px;
}

.login-btn {
    width: 100%;
}

.register-btn {
    width: 50%;
    margin: 0 auto;
}

.register-here {
    /*background-color: white;*/
    background: rgba(60, 60, 60, 0.4);
    padding: 10px;
    text-align: center;
}

.title-text {
    color: papayawhip;
    font-size: 4em;
}

.error {
    color: red;
}

.signup {
    color: papayawhip;
    text-align: center;
}

.ads {
    margin-top: 20px;
    font-size: 1em;
    background-color: lightsalmon;
    padding: 10px;
    border: 1px solid black;
    min-height: 190px;
}

.about {
    margin-top: 20px;
    font-size: 1em;
    background-color: lightsalmon;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    color: rebeccapurple;
    line-height: 1em;
}

.footer {
    text-align: center;
    color: lightgrey;
}

a.purple-text {
    color: papayawhip;
}
.image_box{
    width:auto;
    height:auto;
}
