/*YOU SUCK. YES YOU!!!*/
.container {
    min-height: 100%;
    text-align: center;
}

.form {
    background-color: lightsalmon;
    text-align: left;
    padding: 10px;
}

body {
    background-image: url("../img/main-background.jpg");
}

.main-display {
    background-color: lightsalmon;
    text-align: center;
    padding: 25px 50px;
}

.custom-btn {
    margin-top: 10px;
}

.login-btn {
    width: 100%;
    background-color: rebeccapurple;
    color: white;
}

.register-btn {
    width: 50%;
    margin: 0 auto;
}

.register-here {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.title-text {
    color: rebeccapurple;
    font-size: 4em;
}

.purple-text {
    color: rebeccapurple;
}

.error{
     color:red;
}

.signup{
    color:black;
    text-align: center;
}

.reg-sign {
    color: white;
    padding: 2em;
}

.ads {
    margin-top: 20px;
    font-size: 1em;
    background-color: white;
    color: rebeccapurple;
    padding: 10px;
    border: 1px solid black;
    width: 95%;
}

.about{
    margin-top: 20px;
    font-size:1em;
    background-color:lightsalmon;
    padding:10px;
    border: 1px solid black;
    text-align: center;
    color:rebeccapurple;
    line-height:1em;
}