.container {
    background-color: lightblue;
    text-align: center;

}
.container h2 {
    font-size: 10em;
    color: navy;
}
 .error{
     color:red;
 }

.signup{
    color:lightgrey;
    text-align: center;
}

.reg-sign {
    color: white;
    padding: 2em;
}
